.comic .a-character-details {
  height: 80%;
}

.comic p.description {
  color: red;
  overflow: scroll;
  height: 20%;
}

.a-character.comic {
  /* border: magenta 2px solid; */
  height: 300px;
  padding: 5px;
}
